.video-playback {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
}

.video-playback .video {
    max-width: 300px;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.video-playback video {
    max-width: 300px;
    min-height: 250px;
}

@media (max-width: 768px) {
    .video-playback {
        min-height: auto;
    }
    .video-playback .video  {
        max-width: 150px;
    }

    .video-playback video {
        max-width: 150px;
    }
}